<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OdessaApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>odessa</string>
      </array>
      <key>CFBundleURLName</key>
      <string>edu.mit.ccc.odessa</string>
    </dict>
  </array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>0.0.0.0</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MIT Odessa requires microphone access to record voice notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MIT Odessa requires microphone access to allow you to set a profile picture.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MIT Odessa requires microphone access to allow you to set a profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>NotoSerif-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerif-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerif-Black.ttf</string>
		<string>NotoSerif-BlackItalic.ttf</string>
		<string>NotoSerif-Bold.ttf</string>
		<string>NotoSerif-BoldItalic.ttf</string>
		<string>NotoSerif-ExtraBold.ttf</string>
		<string>NotoSerif-ExtraBoldItalic.ttf</string>
		<string>NotoSerif-ExtraLight.ttf</string>
		<string>NotoSerif-ExtraLightItalic.ttf</string>
		<string>NotoSerif-Italic.ttf</string>
		<string>NotoSerif-Light.ttf</string>
		<string>NotoSerif-LightItalic.ttf</string>
		<string>NotoSerif-Medium.ttf</string>
		<string>NotoSerif-MediumItalic.ttf</string>
		<string>NotoSerif-Regular.ttf</string>
		<string>NotoSerif-SemiBold.ttf</string>
		<string>NotoSerif-SemiBoldItalic.ttf</string>
		<string>NotoSerif-Thin.ttf</string>
		<string>NotoSerif-ThinItalic.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>